.container {
	border-radius: 2em;
	display: inline-block;
	cursor: pointer;
	transition: opacity 0.05s ease-in-out;
	border-style: solid;
	border-width: 3px;
	text-decoration: none;

	/* ??? */
	margin: 10px;
}

.container:hover {
	opacity: 0.7;
}

.small {
	padding: 4px;
	padding-left: 9px;
	padding-right: 9px;
	font-size: 12px;
}

.medium {
	font-size: 15px;
	padding-top: 5px;
	padding-bottom: 6px;
	padding-left: 11px;
	padding-right: 11px;
}

.large {
	font-size: 16px;
	padding: 7px;
	padding-left: 14px;
	padding-right: 14px;
	font-weight: bold;
}

.light {
	color: black;
}

.dark {
	color: white;
}
