.text {
	word-wrap: break-word;
	line-height: 1.5em;
	margin: 10px;
	color: black;
}

.light {
	color: black;
}

.light.faint {
	color: #262626;
}

.dark {
	color: white;
}

.dark.faint {
	color: #b8b8b8;
}

.small {
	font-size: 12px;
}

.medium {
	font-size: 15px;
}

.large {
	font-size: 16px;
}
