.container {
	height: 100px;
	width: 100vw;
	display: flex;
	justify-content: center;
}

.light {
	background: white;
}

.dark {
	background: black;
}

.innerContainer {
	height: inherit;
	width: 80%;
	display: flex;
	align-items: center;
}
