.text {
	text-decoration: none;
	cursor: pointer;
	color: black;
}

.visible {
	text-decoration: underline;
	font-weight: bold;
	transition: opacity 0.05s ease-in-out;
}

.visible:hover {
	opacity: 0.7;
}
